<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab mat-card-icon class="shadow-none bg-inverse  bg-success">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{totalUsuarios}}</h3>
                        <h6 class="text-muted m-0">Usuarios</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none  bg-warning">
                            <mat-icon>local_mall</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{totalTickets}}</h3>
                        <h6 class="text-muted m-0">Tickets</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="accent" mat-card-icon class="shadow-none">
                            <mat-icon>stars</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{totalOrganizaciones}}</h3>
                        <h6 class="text-muted m-0">Organizaciones</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-md="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none bg-danger">
                            <mat-icon>content_paste</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{totalCategorias}}</h3>
                        <h6 class="text-muted m-0">Categorias</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Image and chart -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <div fxFlex.gt-lg="60" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>{{titulo}}</mat-card-title>
                    <ngx-datatable #table class='material' 
                    [rows]='rows' 
                    [columnMode]="'force'" 
                    [headerHeight]="50" 
                    [footerHeight]="50" 
                    [rowHeight]="'auto'"  
                    [externalPaging]="true" 
                    [count]="pagina.totalElements" 
                    [offset]="pagina.number" 
                    [limit]="pagina.size" 
                    [externalSorting]="true" 
                    [loadingIndicator]="loading" 
                    (page)='setPage($event)'
                    (sort)="onSort($event)">
                    <ngx-datatable-column name="Codigo" prop="codigo"></ngx-datatable-column>
                    <ngx-datatable-column name="Persona" prop="persona"></ngx-datatable-column>
                    <ngx-datatable-column name="Organizacion" prop="organizacion.nombre"></ngx-datatable-column>
                    <ngx-datatable-column name="Categoria" prop="categoria.nombre"></ngx-datatable-column>
                    <ngx-datatable-column name="Usuario" prop="usuario.usuario"></ngx-datatable-column>
                    <ngx-datatable-column name="Fecha" prop="fecha">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{row.fecha | date:" d/MM/y h:mm:ss a"}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Acciones" prop="estado">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <button mat-icon-button routerLink="/ticket/seguimiento/{{row.codigo}}" matTooltip="Ver estados" matTooltipPosition="above">
                                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">format_list_bulleted</mat-icon>
                            </button>
                            <button mat-icon-button routerLink="/ticket/agregar/estado/{{row.codigo}}" matTooltip="Agregar estado" matTooltipPosition="above">
                                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">edit</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </mat-card-content>
        </mat-card>
    </div>
</div>