<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Administración de usuarios</mat-card-title>
                <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                    <div fxFlex.gt-sm="1.3" fxFlex="100"></div>
                    <div fxFlex.gt-sm="98.7" fxFlex="100">
                        <br/>
                        <button mat-raised-button color="warn" routerLink="/usuario/agregar">Agregar usuario</button>
                    </div>
                    <div fxFlex.gt-sm="100" fxFlex="100">
                        <app-listar-usuarios></app-listar-usuarios>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
