<div fxLayout="row wrap">
	<div fxFlex.gt-sm="1.1" fxFlex="100"></div>
	<div fxFlex.gt-sm="30" fxFlex="100">
		<button mat-raised-button color="accent" (click)="volver()">
			<span class="mat-button-wrapper">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">arrow_back</mat-icon>
                Volver
            </span>
		</button>
  	</div>
  	
  	<div fxFlex.gt-sm="100" fxFlex="100">
    	<mat-card>
		    <mat-card-content>
		        <mat-card-title>Agregar estado ticket: {{ticket.codigo}}</mat-card-title>
		        <mat-card-subtitle>Este modulo permite agregar estado a los tickets</mat-card-subtitle>

	            <form #ticketForm="ngForm">
	                <div fxLayout="row wrap" fxFlexAlign="center" class="row">
	                	<div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
	            			<mat-form-field>
	                            <input matInput placeholder="Persona" name="persona" [(ngModel)]="ticket.persona" #persona="ngModel" readonly="readonly" disabled="disabled">
	                            <mat-error [hidden]="persona.valid || persona.pristine">
	                                Este campo es <strong>requirido</strong>
	                            </mat-error>
	                        </mat-form-field>
	            		</div>
	            		<div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
	            			<mat-form-field>
	                            <input matInput placeholder="Categoria" name="categoria" [(ngModel)]="ticket.categoria.nombre" #categoria="ngModel" readonly="readonly" disabled="disabled">
	                            <mat-error [hidden]="categoria.valid || categoria.pristine">
	                                Este campo es <strong>requirido</strong>
	                            </mat-error>
	                        </mat-form-field>
				        </div>
				        <div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
				        	<mat-form-field>
				        		<input matInput placeholder="Organizacion" name="organizacion" [(ngModel)]="ticket.organizacion.nombre" #organizacion="ngModel" readonly="readonly" disabled="disabled">
	                            <mat-error [hidden]="organizacion.valid || organizacion.pristine">
	                                Este campo es <strong>requirido</strong>
	                            </mat-error>
			                </mat-form-field>
				        </div>
				        <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
				        	<mat-form-field>
						    	<textarea matInput placeholder="Descripcion" name="descripcion" [(ngModel)]="ticket.descripcion" ngModel readonly="readonly" disabled="disabled"></textarea>
						  	</mat-form-field>
				        </div>
				    </div>
	            </form>
		    </mat-card-content>
		</mat-card>
		<mat-card>
		    <mat-card-content>
		        <mat-card-title>Agregar estado ticket</mat-card-title>
		        <mat-card-subtitle>Este modulo permite agregar estado a los tickets</mat-card-subtitle>

	            <form #ticketForm="ngForm">
	                <div fxLayout="row wrap" fxFlexAlign="center" class="row">
	                	<div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
	            			<mat-form-field>
			                    <mat-label>Estado</mat-label>
			                    <mat-select name="estado" [(ngModel)]="ticketEstado.estado" ngModel required>
			                        <mat-option *ngFor="let e of estados" [value]="e">
			                            {{e.nombre}}
			                        </mat-option>
			                    </mat-select>
			                    <mat-error>
				                    Este campo es <strong>requirido</strong>
				                </mat-error>
			                </mat-form-field>
	            		</div>
				        <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
				        	<mat-form-field>
						    	<textarea matInput placeholder="Comentario" name="comentario" [(ngModel)]="ticketEstado.comentario" ngModel required="required"></textarea>
						  	</mat-form-field>
				        </div>
				    </div>
	            </form>
	            <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="end center" class="row">
                    <button mat-raised-button color="warn" (click)="onSubmit()" [disabled]="!ticketForm.form.valid">Agregar estado</button>
                </div>

		    </mat-card-content>
		</mat-card>
  	</div>
</div>

