<mat-card>
    <mat-card-content>
        <mat-card-title>Lista de tickets registrados de la organización : {{usuario.organizacion.organizacion.nombre}}</mat-card-title>
        <ngx-datatable #table class='material' 
        [rows]='rows' 
        [columnMode]="'force'" 
        [headerHeight]="50" 
        [footerHeight]="50" 
        [rowHeight]="'auto'"  
        [externalPaging]="true" 
        [count]="pagina.totalElements" 
        [offset]="pagina.number" 
        [limit]="pagina.size" 
        [externalSorting]="true" 
        [loadingIndicator]="loading" 
        (page)='setPage($event)'
        (sort)="onSort($event)">
            <ngx-datatable-column name="Codigo" prop="codigo"></ngx-datatable-column>
            <ngx-datatable-column name="Persona" prop="persona"></ngx-datatable-column>
            <ngx-datatable-column name="Organizacion" prop="organizacion.nombre"></ngx-datatable-column>
            <ngx-datatable-column name="Categoria" prop="categoria.nombre"></ngx-datatable-column>
            <ngx-datatable-column name="Usuario" prop="usuario.usuario"></ngx-datatable-column>
            <ngx-datatable-column name="Fecha" prop="fecha">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row.fecha | date:" d/MM/y h:mm:ss a"}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Acciones" prop="estado">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <button mat-icon-button routerLink="/ticket/seguimiento/{{row.codigo}}" matTooltip="Ver estados" matTooltipPosition="above">
                        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">format_list_bulleted</mat-icon>
                    </button>
                    <button mat-icon-button routerLink="/ticket/agregar/estado/{{row.codigo}}" matTooltip="Agregar estado" matTooltipPosition="above">
                        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">edit</mat-icon>
                    </button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </mat-card-content>
</mat-card>