<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
    <img src="assets/images/users/1.jpg" alt="user" class="profile-pic">
</button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item [routerLink]="['/authentication/logout']">
        <mat-icon>exit_to_app</mat-icon> Cerrar sesion
    </button>
</mat-menu>