<div fxLayout="row wrap">
	<div fxFlex.gt-sm="1.1" fxFlex="100"></div>
	<div fxFlex.gt-sm="30" fxFlex="100">
		<button mat-raised-button color="accent" (click)="volver()">
			<span class="mat-button-wrapper">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">arrow_back</mat-icon>
                Volver
            </span>
		</button>
  	</div>
  	
  	<div fxFlex.gt-sm="100" fxFlex="100">
    	<mat-card>
		    <mat-card-content>
		        <mat-card-title>Agregar usuario</mat-card-title>
		        <mat-card-subtitle>Este modulo permite agregar usuarios</mat-card-subtitle>

	            <form #usuarioForm="ngForm">

	                <div fxLayout="row wrap" fxFlexAlign="center" class="row">
	                	<div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
	            			<mat-form-field>
	                            <input matInput placeholder="Nombre(s)" name="nombre" [(ngModel)]="usuario.persona.nombre" #nombre="ngModel" required>
	                            <mat-error [hidden]="nombre.valid || nombre.pristine">
	                                Este campo es <strong>requirido</strong>
	                            </mat-error>
	                        </mat-form-field>
	            		</div>
	            		<div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
	            			<mat-form-field>
	                            <input matInput placeholder="Apellido(s)" name="apellido" [(ngModel)]="usuario.persona.apellido" #apellido="ngModel" required>
	                            <mat-error [hidden]="apellido.valid || apellido.pristine">
	                                Este campo es <strong>requirido</strong>
	                            </mat-error>
	                        </mat-form-field>
	            		</div>
	            		<div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
	            			<mat-form-field>
	                            <input matInput placeholder="Usuario" name="username" [(ngModel)]="usuario.usuario" #username="ngModel" required>
	                            <mat-error [hidden]="username.valid || username.pristine">
	                                Este campo es <strong>requirido</strong>
	                            </mat-error>
	                        </mat-form-field>
	            		</div>
	            		<div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
	            			<mat-form-field>
	                            <input matInput placeholder="Clave" name="password" [(ngModel)]="usuario.password" #password="ngModel" required>
	                            <mat-error [hidden]="password.valid || password.pristine">
	                                Este campo es <strong>requirido</strong>
	                            </mat-error>
	                        </mat-form-field>
	            		</div>
	            		<div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
				        	<mat-form-field>
			                    <mat-label>Perfil</mat-label>
			                    <mat-select name="perfil" (selectionChange)="seleccionarPerfil($event)" (ngModel)="perfil" ngModel required>
			                        <mat-option *ngFor="let p of perfiles" [value]="p">
			                            {{p.perfil}}
			                        </mat-option>
			                    </mat-select>
			                    <mat-error>
				                    Este campo es <strong>requirido</strong>
				                </mat-error>
			                </mat-form-field>
				        </div>
				        <div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10" [hidden]="!viewOrganizaciones">
				        	<mat-form-field>
			                    <mat-label>Organización</mat-label>
			                    <mat-select name="organizacion" (selectionChange)="seleccionarOrganizacion($event)" (ngModel)="organizacion" ngModel [required]="viewOrganizaciones">
			                        <mat-option *ngFor="let o of organizaciones" [value]="o">
			                            {{o.nombre}}
			                        </mat-option>
			                    </mat-select>
			                    <mat-error>
				                    Este campo es <strong>requirido</strong>
				                </mat-error>
			                </mat-form-field>
				        </div>
				    </div>
	            </form>
                <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="end center" class="row">
                    <button mat-raised-button color="warn" (click)="onSubmit()" [disabled]="!usuarioForm.form.valid">Agregar</button>
                </div>
                    
		    </mat-card-content>
		</mat-card>
  	</div>
</div>

