<div fxLayout="row wrap">
    <div fxFlex.gt-sm="1.1" fxFlex="100"></div>
    <div fxFlex.gt-sm="30" fxFlex="100">
        <button mat-raised-button color="accent" (click)="volver()">
            <span class="mat-button-wrapper">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">arrow_back</mat-icon>
                Volver
            </span>
        </button>
    </div>

    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Agregar estado ticket: {{ticket.codigo}}</mat-card-title>
                <mat-card-subtitle>Este modulo permite agregar estado a los tickets</mat-card-subtitle>

                <form #ticketForm="ngForm">
                    <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                        <div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
                            <mat-form-field>
                                <input matInput placeholder="Persona" name="persona" [(ngModel)]="ticket.persona" #persona="ngModel" readonly="readonly" disabled="disabled">
                                <mat-error [hidden]="persona.valid || persona.pristine">
                                    Este campo es <strong>requirido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
                            <mat-form-field>
                                <input matInput placeholder="Categoria" name="categoria" [(ngModel)]="ticket.categoria.nombre" #categoria="ngModel" readonly="readonly" disabled="disabled">
                                <mat-error [hidden]="categoria.valid || categoria.pristine">
                                    Este campo es <strong>requirido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
                            <mat-form-field>
                                <input matInput placeholder="Organizacion" name="organizacion" [(ngModel)]="ticket.organizacion.nombre" #organizacion="ngModel" readonly="readonly" disabled="disabled">
                                <mat-error [hidden]="organizacion.valid || organizacion.pristine">
                                    Este campo es <strong>requirido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                            <mat-form-field>
                                <textarea matInput placeholder="Descripcion" name="descripcion" [(ngModel)]="ticket.descripcion" ngModel readonly="readonly" disabled="disabled"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <mat-card-title>Estados</mat-card-title>
                <ul class="timeline">
                    <li *ngFor="let estado of ticket.estados; let i = index" [attr.data-index]="i" [ngClass]="{'timeline-inverted': i%2!=0}">
                        <div class="timeline-badge info">
                            <i class="fa fa-list"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{estado.usuario.persona.nombre}} {{estado.usuario.persona.apellido}}</h4>
                                <p>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i> {{estado.fecha | date:"EEEE, MMMM d, y, h:mm:ss a"}}
                                    </small>
                                </p>
                            </div>
                            <div class="timeline-body">
                            	<p><span class="timeline-title">Estado:</span> {{estado.estado.nombre}}</p>
                                <p><span class="timeline-title">Comentario:</span> {{estado.comentario}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>
