<mat-card>
    <mat-card-content>
        <mat-card-title>Lista de usuarios registrados</mat-card-title>
        <ngx-datatable #table class='material' 
        [rows]='rows' 
        [columnMode]="'force'" 
        [headerHeight]="50" 
        [footerHeight]="50" 
        [rowHeight]="'auto'"  
        [externalPaging]="true" 
        [count]="pagina.totalElements" 
        [offset]="pagina.number" 
        [limit]="pagina.size" 
        [externalSorting]="true" 
        [loadingIndicator]="loading" 
        (page)='setPage($event)'
        (sort)="onSort($event)">
            <ngx-datatable-column name="Codigo" prop="codigo"></ngx-datatable-column>
            <ngx-datatable-column name="Nombre(s)" prop="persona.nombre"></ngx-datatable-column>
            <ngx-datatable-column name="Apellido(s)" prop="persona.apellido"></ngx-datatable-column>
            <ngx-datatable-column name="Usuario" prop="usuario"></ngx-datatable-column>
            <ngx-datatable-column name="Organizacion" prop="organizacion.organizacion.nombre"></ngx-datatable-column>
            <ngx-datatable-column name="Perfil">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row.perfiles[0].perfil.perfil}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </mat-card-content>
</mat-card>