<div fxLayout="row wrap">
	<div fxFlex.gt-sm="1.1" fxFlex="100"></div>
	<div fxFlex.gt-sm="30" fxFlex="100">
		<button mat-raised-button color="accent" (click)="volver()">
			<span class="mat-button-wrapper">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">arrow_back</mat-icon>
                Volver
            </span>
		</button>
  	</div>
  	
  	<div fxFlex.gt-sm="100" fxFlex="100">
    	<mat-card>
		    <mat-card-content>
		        <mat-card-title>Crear ticket</mat-card-title>
		        <mat-card-subtitle>Este modulo permite crear tickets</mat-card-subtitle>

	            <form #ticketForm="ngForm">
	                <div fxLayout="row wrap" fxFlexAlign="center" class="row">
	                	<div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
	            			<mat-form-field>
	                            <input matInput placeholder="Persona" name="persona" [(ngModel)]="ticket.persona" #persona="ngModel" required>
	                            <mat-error [hidden]="persona.valid || persona.pristine">
	                                Este campo es <strong>requirido</strong>
	                            </mat-error>
	                        </mat-form-field>
	            		</div>
	            		<div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
				        	<mat-form-field>
			                    <mat-label>Categoria</mat-label>
			                    <mat-select name="categoria" [(ngModel)]="ticket.categoria" ngModel required>
			                        <mat-option *ngFor="let c of categorias" [value]="c">
			                            {{c.nombre}}
			                        </mat-option>
			                    </mat-select>
			                    <mat-error>
				                    Este campo es <strong>requirido</strong>
				                </mat-error>
			                </mat-form-field>
				        </div>
				        <div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
				        	<mat-form-field>
				        		<input matInput placeholder="Organizacion" name="organizacion" [(ngModel)]="ticket.organizacion.nombre" #organizacion="ngModel" readonly="readonly" disabled="disabled">
	                            <mat-error [hidden]="organizacion.valid || organizacion.pristine">
	                                Este campo es <strong>requirido</strong>
	                            </mat-error>
			                </mat-form-field>
				        </div>
				        <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
				        	<mat-form-field>
						    	<textarea matInput placeholder="Descripcion" name="descripcion" [(ngModel)]="ticket.descripcion" ngModel required></textarea>
						  	</mat-form-field>
				        </div>
				    </div>
	            </form>
                <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="end center" class="row">
                    <button mat-raised-button color="warn" (click)="onSubmit()" [disabled]="!ticketForm.form.valid">Agregar</button>
                </div>
                    
		    </mat-card-content>
		</mat-card>
  	</div>
</div>

